In [ ]:
import requests
from datetime import datetime, timedelta
import http.client
import datetime
import pandas as pd
import json

# Data about the chosen airport: London Heathrow Airport

In [ ]:
# The aim here is to obtain informations about the chosen airport: London Heathrow Airport

# Define the API endpoint URL
url = "https://aerodatabox.p.rapidapi.com/airports/icao/EGLL"

# Set the required headers for the RapidAPI
headers = {
    "X-RapidAPI-Key": "f41dda726emsh342b9a324d66846p12ee46jsnaa4f1545700b",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

# Send a GET request to the API endpoint
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    # Extract the JSON data from the response
    data = response.json()

    # Convert the JSON data to a pandas dataframe
    df = pd.json_normalize(data)

    # Specify the most important columns to keep
    important_columns = ['icao', 'iata', 'shortName', 'fullName', 'country.name']

    # Filter the dataframe to keep only the important columns
    df = df[important_columns]

    # Print the resulting dataframe
    print(df)
else:
    # Print an error message if the request failed
    print(f"Request failed with status code: {response.status_code}")

   icao iata shortName                 fullName    country.name
0  EGLL  LHR  Heathrow  London, London Heathrow  United Kingdom

# Details of tomorrow's flights at the chosen airport: departures and arrivals

In [ ]:
# Specify the desired date
date_str = "2023-06-01"  # Enter the date in the format "YYYY-MM-DD"

# Convert the date string to datetime object
date_obj = datetime.datetime.strptime(date_str, "%Y-%m-%d")

# Create the start and end time for the date
start_time = date_obj.replace(hour=0, minute=0, second=0).isoformat()
end_time = date_obj.replace(hour=11, minute=59, second=59).isoformat()

# Define the API endpoint URL with the variable date
url = f"https://aerodatabox.p.rapidapi.com/flights/airports/iata/LHR/{start_time}/{end_time}"

# Define query parameters: Optional Parameters provided by AeroDataBox in RapidAPI
params = {
    "withLeg": "true",
    "withCancelled": "true",
    "withCodeshared": "true",
    "withCargo": "true",
    "withPrivate": "true",
    "withLocation": "false"
}

# Define request headers
headers = {
    "X-RapidAPI-Key": "f41dda726emsh342b9a324d66846p12ee46jsnaa4f1545700b",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com",
    "Accept": "application/json"
}

try:
    # Send the GET request to the API
    response = requests.get(url, headers=headers, params=params)
    response_json = response.json()

    # Check if the request was successful
    if response.status_code == 200:
        # Extract departures and arrivals from the response JSON
        departures = response_json.get("departures", [])
        arrivals = response_json.get("arrivals", [])

        # Convert departures and arrivals to dataframes
        departures_df = pd.json_normalize(departures)
        arrivals_df = pd.json_normalize(arrivals)

        # Print the departures dataframe
        print("Departures:")
        print(departures_df)
        print("\n")

        # Print the arrivals dataframe
        print("Arrivals:")
        print(arrivals_df)
    else:
        print(f"Request failed with status code {response.status_code}")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
departures_df.head()

,number,status,codeshareStatus,isCargo,departure.scheduledTimeLocal,departure.scheduledTimeUtc,departure.scheduledTime.utc,departure.scheduledTime.local,departure.terminal,departure.quality,...,airline.name,airline.iata,airline.icao,arrival.airport.icao,arrival.airport.iata,arrival.scheduledTimeLocal,arrival.scheduledTimeUtc,arrival.scheduledTime.utc,arrival.scheduledTime.local,arrival.terminal
0,BA 638,Unknown,Unknown,False,2023-06-08 07:20+01:00,2023-06-08 06:20Z,2023-06-08 06:20Z,2023-06-08 07:20+01:00,5,[Basic],...,British Airways,BA,BAW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AC 867,Unknown,Unknown,False,2023-06-08 09:30+01:00,2023-06-08 08:30Z,2023-06-08 08:30Z,2023-06-08 09:30+01:00,2,[Basic],...,Air Canada,AC,ACA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BA 53,Unknown,Unknown,False,2023-06-08 09:50+01:00,2023-06-08 08:50Z,2023-06-08 08:50Z,2023-06-08 09:50+01:00,5,[Basic],...,British Airways,BA,BAW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KL 1008,Unknown,Unknown,False,2023-06-08 09:55+01:00,2023-06-08 08:55Z,2023-06-08 08:55Z,2023-06-08 09:55+01:00,4,[Basic],...,KLM,KL,KLM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BA 800,Unknown,Unknown,False,2023-06-08 07:35+01:00,2023-06-08 06:35Z,2023-06-08 06:35Z,2023-06-08 07:35+01:00,5,[Basic],...,British Airways,BA,BAW,BIKF,KEF,2023-06-08 09:45+00:00,2023-06-08 09:45Z,2023-06-08 09:45Z,2023-06-08 09:45+00:00,NaN

In [ ]:
arrivals_df.head()

,number,status,codeshareStatus,isCargo,departure.airport.icao,departure.airport.iata,departure.airport.name,departure.quality,arrival.scheduledTimeLocal,arrival.actualTimeLocal,...,departure.terminal,departure.checkInDesk,departure.gate,callSign,departure.runwayTimeLocal,departure.runwayTimeUtc,departure.runwayTime.utc,departure.runwayTime.local,aircraft.reg,aircraft.modeS
0,AA 6416,Expected,IsCodeshared,False,OMDB,DXB,Dubai City,[],2023-06-01 05:55+01:00,2023-06-01 05:55+01:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AA 6442,Expected,IsCodeshared,False,OBBI,BAH,Manama,[],2023-06-01 05:50+01:00,2023-06-01 05:50+01:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AA 6446,Expected,IsCodeshared,False,FAOR,JNB,Jo'anna,[],2023-06-01 05:30+01:00,2023-06-01 05:30+01:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AA 6448,Expected,IsCodeshared,False,FACT,CPT,Cape Town,[],2023-06-01 05:50+01:00,2023-06-01 05:50+01:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AA 6654,Expected,IsCodeshared,False,HKJK,NBO,Nairobi,[],2023-06-01 05:50+01:00,2023-06-01 05:50+01:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# To better understand the steps that I found particularly difficult

#### Define query parameters

In the given code snippet, the step # Define query parameters is used to specify the query parameters that will be included in the API request.

Query parameters are additional parameters appended to the URL of an API request to provide specific instructions or filters for the requested data. In this case, the query parameters are defined using a Python dictionary called params.

Here's the explanation of each query parameter:

- withLeg: This parameter is set to "true" and indicates that the response should include leg information for the flights. A leg represents a specific segment of a flight, such as a takeoff or landing.

- withCancelled: This parameter is set to "true" and indicates that the response should include information about cancelled flights.

- withCodeshared: This parameter is set to "true" and indicates that the response should include information about codeshared flights. A codeshared flight is a flight operated by one airline but marketed and sold by another airline.

- withCargo: This parameter is set to "true" and indicates that the response should include information about cargo flights.

- withPrivate: This parameter is set to "true" and indicates that the response should include information about private flights.

- withLocation: This parameter is set to "false" and indicates that the response should not include location information for the flights.

These parameters allow you to customize the API request and specify the type of flight information you want to retrieve.

#### Extract departures and arrivals from the response JSON

In the given code snippet, the step # Extract departures and arrivals from the response JSON is used to retrieve the "departures" and "arrivals" information from the JSON response obtained from the API.

After making the API request and receiving the response, the response data is stored in the response_json variable.

The get() method is used to extract the values associated with the keys "departures" and "arrivals" from the response_json dictionary.

- departures = response_json.get("departures", []): This line retrieves the value associated with the key "departures" from the response_json dictionary. If the key "departures" exists in the dictionary, its corresponding value is assigned to the departures variable. If the key does not exist, it returns an empty list [].

- arrivals = response_json.get("arrivals", []): This line retrieves the value associated with the key "arrivals" from the response_json dictionary. If the key "arrivals" exists in the dictionary, its corresponding value is assigned to the arrivals variable. If the key does not exist, it returns an empty list [].

By extracting the departures and arrivals separately, we can further process and analyze each set of flight information independently.

To summarize, the departures and arrivals variables are lists containing dictionaries as elements, representing the departure and arrival information, respectively.

In [ ]:
url  # As I first entered a URL in an F function, I just wanted to check the final URL that comes out of this function.

'https://aerodatabox.p.rapidapi.com/flights/airports/iata/LHR/2023-06-01T00:00:00/2023-06-01T23:59:59'

# Solution 2:

In [ ]:
response.content # This tip helped me detect the problem with my code. It wasn't working and was printing '400' without explaining why, so with this tip I had a clear reason and was able to solve the problem.

b'{"message":"The duration of the requested period of time must be positive and must not be more than 12 hours in duration"}'

In [ ]:
# Solution 2:

# Enter the desired date in YYYY-MM-DD format
date = input("Enter the date (YYYY-MM-DD): ")

# Define the API endpoint URL
url = f"https://aerodatabox.p.rapidapi.com/flights/airports/iata/LHR/{date}T00:00/{date}T12:00"

# Define query parameters
params = {
    "withLeg": "true",
    "withCancelled": "true",
    "withCodeshared": "true",
    "withCargo": "true",
    "withPrivate": "true",
    "withLocation": "false"
}

# Define request headers
headers = {
    "X-RapidAPI-Key": "f41dda726emsh342b9a324d66846p12ee46jsnaa4f1545700b",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com",
    "Accept": "application/json"
}

try:
    # Send the GET request to the API
    response = requests.get(url, headers=headers, params=params)
    response_json = response.json()

    # Check if the request was successful
    if response.status_code == 200:
        # Extract departures and arrivals from the response JSON
        departures = response_json.get("departures", [])
        arrivals = response_json.get("arrivals", [])

        # Convert departures and arrivals to dataframes
        departures_df = pd.json_normalize(departures)
        arrivals_df = pd.json_normalize(arrivals)

        # Print the departures dataframe
        print("Departures:")
        print(departures_df)
        print("\n")

        # Print the arrivals dataframe
        print("Arrivals:")
        print(arrivals_df)
    else:
        print(f"Request failed with status code {response.status_code}")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
departures_df.head()

,number,status,codeshareStatus,isCargo,departure.scheduledTimeLocal,departure.scheduledTimeUtc,departure.scheduledTime.utc,departure.scheduledTime.local,departure.terminal,departure.quality,...,airline.name,airline.iata,airline.icao,arrival.airport.icao,arrival.airport.iata,arrival.scheduledTimeLocal,arrival.scheduledTimeUtc,arrival.scheduledTime.utc,arrival.scheduledTime.local,arrival.terminal
0,BA 638,Unknown,Unknown,False,2023-06-08 07:20+01:00,2023-06-08 06:20Z,2023-06-08 06:20Z,2023-06-08 07:20+01:00,5,[Basic],...,British Airways,BA,BAW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AC 867,Unknown,Unknown,False,2023-06-08 09:30+01:00,2023-06-08 08:30Z,2023-06-08 08:30Z,2023-06-08 09:30+01:00,2,[Basic],...,Air Canada,AC,ACA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BA 53,Unknown,Unknown,False,2023-06-08 09:50+01:00,2023-06-08 08:50Z,2023-06-08 08:50Z,2023-06-08 09:50+01:00,5,[Basic],...,British Airways,BA,BAW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KL 1008,Unknown,Unknown,False,2023-06-08 09:55+01:00,2023-06-08 08:55Z,2023-06-08 08:55Z,2023-06-08 09:55+01:00,4,[Basic],...,KLM,KL,KLM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BA 800,Unknown,Unknown,False,2023-06-08 07:35+01:00,2023-06-08 06:35Z,2023-06-08 06:35Z,2023-06-08 07:35+01:00,5,[Basic],...,British Airways,BA,BAW,BIKF,KEF,2023-06-08 09:45+00:00,2023-06-08 09:45Z,2023-06-08 09:45Z,2023-06-08 09:45+00:00,NaN

In [ ]:
arrivals_df.head()

,number,status,codeshareStatus,isCargo,departure.airport.icao,departure.airport.iata,departure.airport.name,departure.scheduledTimeLocal,departure.scheduledTimeUtc,departure.scheduledTime.utc,...,arrival.scheduledTimeLocal,arrival.scheduledTimeUtc,arrival.scheduledTime.utc,arrival.scheduledTime.local,arrival.terminal,arrival.quality,aircraft.model,airline.name,airline.iata,airline.icao
0,BA 16,Unknown,IsOperator,False,WSSS,SIN,Singapore,2023-06-07 22:35+08:00,2023-06-07 14:35Z,2023-06-07 14:35Z,...,2023-06-08 05:30+01:00,2023-06-08 04:30Z,2023-06-08 04:30Z,2023-06-08 05:30+01:00,5,[Basic],Boeing 787-9,British Airways,BA,BAW
1,BA 262,Unknown,IsOperator,False,OERK,RUH,Riyadh,2023-06-08 00:35+03:00,2023-06-07 21:35Z,2023-06-07 21:35Z,...,2023-06-08 05:40+01:00,2023-06-08 04:40Z,2023-06-08 04:40Z,2023-06-08 05:40+01:00,5,[Basic],Boeing 777,British Airways,BA,BAW
2,BA 56,Unknown,IsOperator,False,FAOR,JNB,Jo'anna,2023-06-07 19:20+02:00,2023-06-07 17:20Z,2023-06-07 17:20Z,...,2023-06-08 05:30+01:00,2023-06-08 04:30Z,2023-06-08 04:30Z,2023-06-08 05:30+01:00,5,[Basic],Airbus A380-800,British Airways,BA,BAW
3,BA 58,Unknown,IsOperator,False,FACT,CPT,Cape Town,2023-06-07 18:40+02:00,2023-06-07 16:40Z,2023-06-07 16:40Z,...,2023-06-08 05:50+01:00,2023-06-08 04:50Z,2023-06-08 04:50Z,2023-06-08 05:50+01:00,5,[Basic],Boeing 777,British Airways,BA,BAW
4,BA 64,Unknown,IsOperator,False,HKJK,NBO,Nairobi,2023-06-07 22:45+03:00,2023-06-07 19:45Z,2023-06-07 19:45Z,...,2023-06-08 05:50+01:00,2023-06-08 04:50Z,2023-06-08 04:50Z,2023-06-08 05:50+01:00,5,[Basic],Airbus A350-1000,British Airways,BA,BAW